/* define variables */
:root{
    --very-dark-mangenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-mangenta: hsl(303, 10%, 53%);
    --light-grayish-mangenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5% /* set 1rem = 10px */
}

body{
    background-image: url("images/bg-pattern-top-mobile.svg"), url("images/bg-pattern-bottom-mobile.svg");
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    background-color: var(--white);
}

main{
    width: 87%;
    margin: 10rem auto;
    font-family: "League Spartan", sans-serif;
}

h1{
    color: var(--very-dark-mangenta);
    font-weight: 700;
    font-size: 4rem;
    line-height: 3.2rem;
    margin: 0 4rem 2.4rem 4rem;
    text-align: center;
    letter-spacing: -0.1rem;
}

p{
    color: var(--dark-grayish-mangenta);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.4rem;
    text-align: center;
    margin-bottom: 4.4rem;
}

.rating-container{
    margin-bottom: 5rem;
}

.rating{
    background-color: var(--light-grayish-mangenta);
    font-size: 1.7rem;
    font-weight: 700;
    border-radius: 10px;
    color: var(--very-dark-mangenta);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.4rem 0;
    margin-bottom: 2rem;
}

.stars{
    display: flex;
    justify-content: space-between;
    width: 12rem;
    margin-bottom: 1.4rem;;
}

.testimonial{
    background-color: var(--very-dark-mangenta);
    color: var(--white);
    padding: 3.8rem 3rem;
    border-radius: 10px;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
}

.reviewer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3rem;
}

.reviewer > img{
    border-radius: 50%;
    width: 4.2rem;
    margin-right: 2rem;
}

.reviewer-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 3.6rem;
}

blockquote{
    line-height: 2.2rem;
    font-size: 1.5rem;
}

.buyer-text{
    color: var(--soft-pink);
}

footer{
    margin-bottom: 1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* desktop styles */
@media only screen and (min-width: 1440px){
    body{
        background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
        background-repeat: no-repeat;
        background-color: var(--white);
        min-height: 90rem;
        
    }

    main{
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-areas:
            'one two'
            'three three';
        width: 77%;
        max-width: 111rem;
        row-gap: 3rem;
        margin-bottom: 18rem;
    }

    header{
        grid-area: one;
    }

    .rating-container{
        grid-area: two;
        align-self: center;
    }

    .test-container{
        grid-area: three;
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    h1{
        font-size: 5.3rem;
        line-height: 4.8rem;
        width: 40rem;
        margin: 0 0 3rem 0;
        text-align: left;
    }

    p{
        text-align: left;
        max-width: 42ch;
    }

    .rating-container{
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    
    .rating-container div:nth-child(1){
        align-self: flex-start;
    }

    .rating-container div:nth-child(2){
        align-self: center;
    }

    .rating-container div:nth-child(3){
        align-self: flex-end;
    }

    .rating{
        width: 80%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        margin-bottom: 2rem;
    }

    .stars{
        display: flex;
        justify-content: space-between;
        width: 12rem;
        margin-bottom: 0;
        margin-right: 3rem;
    }

    .testimonial{
        margin-bottom: 0;
        max-height: 80%;
    }

    .test-container div:nth-child(1){
        align-self: flex-start;
    }

    .test-container div:nth-child(2){
        align-self: center;
        margin-top: -3rem;
    }

    .test-container div:nth-child(3){
        align-self: flex-end;
        margin-bottom: 3rem;
    }

    footer{
        position:absolute;
        bottom: 0;
        width: 100%;
        margin-bottom: 1rem;
    }
}