/* define variables */
:root{
    --very-dark-mangenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-mangenta: hsl(303, 10%, 53%);
    --light-grayish-mangena: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5% /* set 1rem = 10px */
}

body{
    background-color: var(--white);
}

main{
    width: 90%;
    margin: 7rem auto;
    font-family: "League Spartan", sans-serif;
}

h1{
    color: var(--very-dark-mangenta);
    font-weight: 700;
    font-size: 4rem;
    line-height: 3.2rem;
    margin: 0 4rem 3rem 4rem;
    text-align: center;
}

p{
    color: var(--dark-grayish-mangenta);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.4rem;
    text-align: center;
    margin-bottom: 4rem;
}

.rating-container{
    margin-bottom: 5rem;
}

.rating{
    background-color: var(--light-grayish-mangena);
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 10px;
    color: var(--very-dark-mangenta);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.stars{
    display: flex;
    justify-content: space-between;
    width: 13rem;
    margin-bottom: 1rem;;
}

.testimonial{
    background-color: var(--very-dark-mangenta);
    color: var(--white);
    padding: 4rem 3rem;
    border-radius: 10px;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.reviewer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3rem;
}

.reviewer > img{
    border-radius: 50%;
    width: 4.5rem;
    margin-right: 2rem;
}

.reviewer-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 3.6rem;
}

blockquote{
    line-height: 2rem;
}

.buyer-text{
    color: var(--soft-pink);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}